@page "/counter"

@* 라우트 파라미터 : / 뒤에 추출할 인자를 넣어줄 수 있다 *@
@page "/counter/{CurrentCount:int}"

@rendermode InteractiveServer

@inject NavigationManager navManager

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@* <p role="status">Current count: @currentCount</p> *@
<p role="status">Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    // private int currentCount = 0;

    private void IncrementCount()
    {
        // currentCount++;

        // NavLink, a 태그와 비슷한 기능
        // navManager.NavigateTo("Weather");

        CurrentCount++;
    }

    [Parameter]
    public int CurrentCount { get; set; }
}
