@page "/user"

@using BlazorApp.Data

<h3>Online Users</h3>

<ShowUser Users="_users" CallbackTest="CallbackTestFunc" @ref="_showUser"></ShowUser>

<br />

<div class="container">
	<div class="row">
		<div class="col">
			<input class="form-control" placeholder="Add User" @bind-value="_inputName" />
		</div>
		<div class="col">
			<!-- 속성(attribute)에도 binding을 할 수 있다 -->
			<!-- conditional attribute 속성 자체에 조건을 붙일 수도 있다 -->
			<button class="btn btn-primary" type="button" @onclick="AddUser" disabled="@(_users.Count() >= 5)">Add a User</button>
		</div>
	</div>
</div>


@code {
	List<UserData> _users = new List<UserData>();
	ShowUser _showUser;

	private bool showAlert = false;

	private string _inputName = string.Empty;

	protected override void OnAfterRender(bool firstRender)
	{
		if (showAlert)
		{
			showAlert = false;
			StateHasChanged();
		}
	}

	void AddUser()
	{
		if (string.IsNullOrEmpty(_inputName))
		{
			showAlert = true;
		}
		else
		{
			_showUser.AddUser(new UserData() { Name = _inputName });
			_inputName = string.Empty;
		}
	}

	void KickUser(UserData user)
	{
		_users.Remove(user);
	}

	void CallbackTestFunc()
	{
		_inputName = "CallbackTest";
		// StateHasChanged();
	}

}

@if (showAlert)
{
	<script>alert('내용을 입력해야 합니다');</script>
}
